.coming-soon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #ff4b2b, #ff416c);
  font-family: "Arial", sans-serif;
  padding: 20px;
  box-sizing: border-box;
}

.coming-soon-card {
  display: flex;
  flex-direction: column;
  background: #fff5f5;
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  padding: 30px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  align-items: center;
}

.coming-soon-button {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 12px 25px;
  font-size: 1rem;
  font-weight: bold;
  cursor: default;
  margin-bottom: 20px;
}

.description {
  font-size: 0.95rem;
  color: #333;
  margin-bottom: 20px;
}

.contact-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 50%;
}

.subti{
  margin-top: 2rem;
}

.contact-buttons a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  transition: transform 0.2s;
}

.contact-buttons a:hover {
  transform: scale(1.05);
}

.whatsapp {
  background-color: #25d366;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
}

.instagram {
  background-color: #e1306c;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.info p {
  margin: 5px 0;
  color: #555;
  font-size: 0.9rem;
}
