.burger-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.burger-section label{
    width: 80%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0.5rem;
}
.burger-section select{
    display: flex;
    text-align: center;
    border-radius: 12px;
    height: 2rem;
    width: 60%;
}

.b-inativo{
    padding: 0.3rem 0.6rem;
    background-color: red;
    transition: ease-in 0.2s;
    transition: ease-out 0.1s;
    cursor: pointer;
}
.b-ativo{
    padding: 0.3rem 0.6rem;
    background-color: green;
    transition: ease-in 0.2s;
    transition: ease-out 0.1s;
    scale: 1.05;
}

.bebida-section{
    display: flex;
    gap: 0.2rem;
    margin-top: 0.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bebida-section label{
    display: flex;
    margin-top: 2rem;
    background-color: red;
    
}
.bebida-section select{
    display: flex;
    text-align: center;
    border-radius: 12px;
    height: 2rem;
}

.modal-buttons-burger{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

.botao-cancelar-burger{
    display: flex;
    border-radius: 12px;
    border: 0;
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: #666;
    color: white;
    cursor: pointer;

}

.botao-adicionar-burger{
    flex-direction: row;
    display: flex;
    border-radius: 12px;
    border: 0;
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: green;
    color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

@media (hover: hover) {
    .botao-adicionar-burger:hover{
        background: #FFD54F; 
        color: #333;
    }
}
.modal-overlay-combo-burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.modal-combo-burger {
  background: #fff;
  color: #333;
  padding: 2rem;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-combo-burger h2 {
  margin-bottom: 1rem;
  color: black;
}

.carnes-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 5%;
    width: 95%;
}

.carne-options{
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.carne-card{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    border: 1px solid #b22222;
    padding: 0.2rem 1rem;
    border-radius: 12px;
}
.carne-nselected{
    display: flex;
    cursor: pointer;
}
.carne-selected{
    background-color: #b22222;
    cursor: pointer;
    color: white;
    font-weight: bold;

}

@media(max-width: 768px){
.modal-buttons-burger{
    align-items: center;
}
.botao-adicionar-burger {
    height: 3rem;
}
.botao-cancelar-burger{
    height: 3rem;
    align-items: center;
}

.modal-combo-burger{
    display: flex;
    width: 80vw;
    align-items: center;
}
.carne-options{
    gap: 0.5rem;
}
.modal-combo-burger h2{
    width: 100%;
    margin: 0;
}

.carne-options{
    width: 100%;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
}
.carne-card{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border: 1px solid #b22222;
    padding: 0.2rem;
    border-radius: 12px;
}
.carne-nselected{
    display: flex;

    cursor: pointer;
}
.carne-selected{
    background-color: #b22222;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
}