
.card-burger {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background: linear-gradient(0deg,#fff 50%, #FAF3E0 100%);
  transition: transform 0.2s;
  width: 19rem;

}

.burger{
  background-image: url("/mburger.png");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: 12.5rem -0.5rem;

}
.burgerbacon{
  background-image: url("/mbacon.png");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: 12rem 0rem;

}

.burgerduplo{
  background-image: url("/mduplo.png");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: 13rem -0.5rem;

}

.burgerduplobacon{
  background-image: url("/mduplobacon.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: 11.5rem -2rem;

}
.card-content-burger {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 15rem;
  justify-content: space-between;
  text-align: left;

}

.card-content-burger h3 {
  color: #B22222;
  font-size: 1.3rem;
  font-weight: 1000;
  margin-bottom: 0.5rem;
}

.btn-burger{
    display: flex;
    margin-top: 0.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 0.4rem;
    background: #2E7D32; /* verde manjericão */
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-burger:hover{
  background-color: #f5d54f;
  color: #333;
}

.modal-overlay-adicionais {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-adicionais {
  background: #fff;
  color: #333;
  padding: 2rem;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.extras{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 50%;
  gap: 1rem;
}

.e-sel{
  border: none;
  border-radius: 12px;
  background-color: #B22222;
  color: white;
  padding: 0.3rem 3rem;
  cursor: pointer;
  font-weight: bold;
}

.e-nsel{
  border: 1px solid #B22222;
  border-radius: 12px;
  background-color: transparent;
  color: black;
  padding: 0.3rem 3rem;
  cursor: pointer;
}

.actions{
  display: flex;
  margin-top: 8%;
  gap: 1rem;
}
.btn-add-burger{
  display: flex;
  width: 100%;
  padding: 0.6rem;
  background: #2E7D32; /* verde manjericão */
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.btn-cancel-burger{
    display: flex;
    border-radius: 12px;
    border: 0;
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: #666;
    color: white;
    cursor: pointer;
    align-items: center;
    justify-content: center;

}

.btn-add-burger:hover{
  background: #FFD54F; 
  color: #333;
}

@media(max-width: 768px){
  .card-burger{
    width: 90vw;
  }
  .btn-burger{
    width: 60%;
  }
  .modal-adicionais{
    width: 80vw;
  }
}