.section-combo {
  margin-top: 2vh;
  padding: 1rem 1rem;
  text-align: center;
}

.section-combo h2 {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  color: black; /* títulos vermelhos */
}
.section-combo p {
  margin-bottom: 2rem;
  color: #555;
}

.grid-combo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  max-width: 1100px;
  margin: 0 auto;
  justify-items: center; 
}

.card-combo {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background: linear-gradient(0deg, #fff 50%, #FAF3E0 100%);
  transition: transform 0.2s;
  align-items: center;
  width: 20rem;
  height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.combo-badge {
  position: absolute;
  top: 32px;
  left: -60px;

  background: #c62828;
  color: #fff;

  padding: 6px 50px;
  font-size: 0.565rem;
  font-weight: bold;
  text-transform: uppercase;

  transform: rotate(-45deg);
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);

  overflow: hidden;
}


.combo-badge-text {
  display: inline-block;
  animation: softZoom 1s ease-in-out infinite;
}

@keyframes softZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.card-content-combo {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.card-content-combo h3 {
  color: #B22222;
  margin-bottom: 0.5rem;
}

.descricao-combo{
  display: flex;
  font-size: 0.85rem;
}

.price-combo {
  color: #333;
  font-weight: bold;
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.btn-combo {
  width: 10rem;
  padding: 0.6rem;
  background: #2E7D32; 
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-combo:hover {
  background: #FFD54F; 
  color: #333; 
}

@media(max-width: 768px){

.section-combo{
  margin: 0 0 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-combo h2{
  margin: 2rem 0 1rem 0;
}
.grid-combo{
  display: flex;
  flex-direction: column;
}
.card-combo{
  width: 90vw;
  place-self: center;
}
.descricao-combo{
  display: flex;
  font-size: 1.1rem;
}
.card-content-combo h3{
  display: flex;
  font-size: 1.5rem;
  place-self: center;
}
}